<!DOCTYPE html> 
<html lang="en"> 
<head>
  <meta charset="utf-8">
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300|Merriweather&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <title>
    {{ site.title }}
  </title>
  <meta name="author" content="Eli Mellen">
  <meta name="description" content="A creative workshop on MDI in Maine offering services in website design and development, archival digitization, database design and community management.">
  <meta name="keywords" content="MDI,Maine,Bar Harbor,Web Design,Web Development,Web,Design,Development,Web Dev,Webdev,Print,Database,Archive,HTML5,CSS3,HTML,CSS,Ruby">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:type"	 content="article"> 
  <meta property="og:url"		 content="{{ site.url }}{{ page.url }}">
  <meta property="og:site_name"	 content="{{title}}">
  <meta property="og:image"	 content="{{site.url}}/img/favicon.png">
  <meta property="og:title"	 content="{{page.title}}">
  <meta property="og:description"  content="A creative workshop on MDI in Maine offering services in website design and development, archival digitization, database design and community management."> 
  <meta property="article:author"	 content="{{ site.url }}">
  <meta property="article:tag"	 content="{{page.tags}}">
  <link rel="stylesheet" type="text/css" href="{{site.url}}/css/i.css">
  <link rel="stylesheet" type="text/css" href="{{site.url}}/css/nav-style.css"/>
  <link rel="apple-touch-icon-precomposed" href="{{site.url}}/img/favicon.png" />
  <link rel="icon" href="{{site.url}}/img/favicon.png" />
</head>
