$grey-dark:#222;    /* main text color */
$grey-medium:#777;  /* dark background color */
$grey-light:#eee; 	/* light background color, footer background color */
$white: #fff;       /* primary background color, home page text color */
$orange:#FF5335;  	/* highlight, a */
$teal:#5CC49B;    	/* highlight, a:hover, footer a color */